/* Reset básico: Evitar que afecte clases de Bootstrap */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

.navbar-brand h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 3rem;
}


.container {
  padding: 20px;
}


.card-img-top {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 350px;
  min-height: 300px;
  min-width: 350px;
}

.img-detail {
  min-height: 350px;
}

.container-btnNav {
  display: flex;
  justify-content: flex-end;
}

.form-control {
  border: 2px solid #0d6efd;
  border-radius: 0.5rem;
}

.form-control:focus {
  border-color: #6610f2;
  box-shadow: 0 0 0 0.2rem rgba(102, 16, 242, 0.25);
}
